body {
  background-color: #ecf0f1;
  font-size: 60px;
}

body {
  color: #34495e;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display:none;
}

.showing {
  display: block;
}
/* .btn {
  cursor: pointer;
} */


